body
{
  
  margin : 2em;
  /*width  : 70%;*/
}
table, td
{
  border : #000 thin solid;

}
td
{

  padding: .5em;

}

.membrete
{
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5em;
}

.titulor
{

  margin: 1em auto;
  display: block;
  text-align: center;

}

.parametros
{

  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: .9em;

}

.datos
{
  margin-bottom: 3em;
}