body{
	background-color: #ddd;
	margin: 0;
	margin: 0 auto;
	font-family: verdana, arial;
}
header{
	width: 100%;
	min-height: 120px;
	background-color: #fa9925;
	padding-top: 20px;


}
header h1,
#content #caja-acceso h2
{
	margin: 0 auto;
	text-align: center;

}

#conter{
	width: 100%;
}

#content #caja-acceso{
	max-width: 20%;
	margin: 60px auto;
	background-color: #33ffad;
	border-radius: 1em;
	padding: 10px;

}

label, input, button, textarea {
	display: block;
	margin: 10px auto;
}
label {
	text-align: center;
	/* margin-left: 40px; */

}
footer{
	margin:40px auto 0 auto;
	padding: 10px 0;
	border-top: #aaa thin solid;
	width: 100%;
	float: left;
}
	
footer h3{
	text-align: center;
	margin:0 auto;
}
#session-info{ 
    width: 100%;
}
#session-info #usuario{
   	width: 80%;
    text-align: right;
    margin: 10px;
    float: left; //para flotar para el lado izquierdo
} 
#session-info a, .boton{ /*para el borde de la caja y el color ya para colocar el boton nuevo  */
    padding: 5px;
    background-color:#202020;
    color:#fff;
    float: left;
    text-decoration:none;
    font-weight: bold;
}
#menu { width: 100%;}
#menu ul{
	padding: 0;
	list-style: none;
}
#menu ul li{
    padding: 0;
    margin: 0;
    float: left;	
}
#menu ul li a{
	margin: 10px;
	background: #b4ddb4; /* Old browsers */
background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00), color-stop(83%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* IE10+ */
background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
/* se escribe el codigo de color gradiente se copia qui */
	color: #fff;
	padding: 10px;
	border-radius: .5em;
	text-decoration:none;
	font-weight: bold;
}
#menu ul li a:hover{ /*se utiliza para el mouse se sonbrea cabie de color*/
	background: #cedbe9; /* Old browsers */
background: -moz-linear-gradient(top, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedbe9), color-stop(17%,#aac5de), color-stop(50%,#6199c7), color-stop(51%,#3a84c3), color-stop(59%,#419ad6), color-stop(71%,#4bb8f0), color-stop(84%,#3a8bc2), color-stop(100%,#26558b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); /* IE10+ */
background: linear-gradient(to bottom, #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=0 ); /* IE6-9 */
}
#tabla-datos, #caja-boton{ /*para colocar el boton de nuevo arriba de la tabla*/
	width: 100%;
	padding: 10px;
	float: left;/*hacer canbiar para izquierda*/ 
}

.contenido
{
  display:inline-block;
  padding-left: 2em;
}
/*.boton{
	float: ;
}
